.featured {
    min-height: 1000px;
    position: relative;

  
    .category {
      position: absolute;
      top: 80px;
      left: 50px;
      font-size: 30px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
  
      select {
        cursor: pointer;
        background-color: var(--main-color);
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 5px;
      }
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .info {
      width: 35%;
      position: absolute;
      left: 50px;
      top: 250px;
      color: white;
      display: flex;
      flex-direction: column;
  
      img {
        width: 480px;
      }
  
      .desc {
        margin: 30px 0px;
        font-size: 20px;
        
      }
  
      .buttons {
        display: flex;
  
        button {
          padding: 6px 30px;
          border: none;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          font-weight: 500;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.1s;
  
          &.play {
            background-color: white;
            color: var(--main-color);

            &:hover {
              opacity: 70%;
            }
          }
  
          &.more {
            background-color: gray;
            color: white;

            &:hover {
              opacity: 70%;
            }
          
          }
  
          span {
            font-size: 16px;
            margin-left: 5px;
            font-weight: 500;
          }
        }
      }
    }
  }